//<COLORS>========================================
$white: #fff;
$black: rgba(0, 0, 0, 0.87);
$grey: #7e7e7e;
$red: #cb3d40;
$blue: #00bdd3;
$buttonBase: #f4e041;
$buttonHover: #ffe302;
$buttonDisable: #b4b4b4;
$background: #f8f8f8;
$lightGrey: #d0cfcf;
//</COLORS>========================================

//<FONTS>========================================
$fontFamily: 'Nunito', sans-serif;
$fontSizeBase: 16px;
$fontLightBase: 26px;
//</FONTS>========================================
